/*selector universal para eliminar los margenes que adopta el body y html por defecto y autoajuste del tamaño de cajas (border, padding, margin)*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}


/*inicio de los estilos para el encabezado*/
.container{
    overflow:hidden;
    background: #216288;
    width: 100%;
    margin: 0%;
}

.logo{
    float:left;
    padding-left: 20%;
}
.encabezado{
    float: right;
    padding-right: 20%;
    
}

.encabezado>p{
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
}

h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#logo{
    width: 230px;
    height: 200px;
    padding-top: 5%;
}
/*fin de los estilos para encabezado*/

/*inicio estilos para el menu*/
.menu{
    background: #b8d414;
    height: 80px;
    
}
.menu>ul>li>a{
    text-decoration: none;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.menu>ul{
    padding: 30px;
    text-align: center;
}

.menu>ul>li{
    display: inline;
    text-align: center;  
    padding-left: 3%;
    padding-right: 3%;
    transition: background .5s;
}
.menu>ul>li:visited{
    color: black;
}

.menu>ul>li:hover{
    text-decoration: underline black;
    background: rgba(173, 241, 62, 0.767);
    border: inset rgb(131, 243, 121) 1px;
}
/*fin estilos para el menu*/

/*inicio estilos h2 parrafo y video (index.html)*/
h2{
    text-align: center;
    padding-top: 50px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-justify: inter-word;
    
    
}

.jornadas{
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    display: inline;
    padding-left: 20%;
    padding-top: 5%;
    width: 50%;
    border: lightgreen;
    clear: both;
    text-align: justify;
    text-justify: inter-word;

   
}
.jornadas2{
    margin-right: 5%;
    width: 40%;
    float: right;
    
    
    
    
}
.container2{
    overflow: hidden;
    
    padding-bottom: 3%;
}
/*fin estilos h2 parrafo y video*/

/*Inicio estilos "donde y cuando" (index.html)*/
h3{
    text-decoration: underline dotted 6px #b8d414;
    font-family: Arial, Helvetica, sans-serif;
}
.container3{
    overflow: hidden;
    background: #e5fed4;
    padding-top: 4%;
    padding-bottom: 4%;
    clear: both;
}
.donde{
    
    float: left;
    margin-left: 24%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-justify: inter-word;
    font-size: 20px;
}
.cuando{
    
    float: right;
    margin-right: 24%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-justify: inter-word;
    font-size: 20px;
}
.elibre{
    font-weight: 900;
    font-size: 20px;
}
.mail{
    color: #7e8087;
}
.insc{
    color: #7e8087;
}
.fav1{
    color: black;
}
.fav2{
    color: black;
}
/*fin estilos "donde y cuando*/

/*inicio estilos "eventos" (index.html)*/
h4{
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5%;
}
.container4{
    overflow: hidden;
    margin-left: 5%;
    margin-bottom: 5%;
    padding-right: 10%;
    
}

.img{
    width: 33em;
    height: 14em;
}
.table2{
    padding-left: 3%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 15px;
    vertical-align: text-bottom;
    
  
    
}
/*fin estilos "eventos"*/

/*inicio estilos "footer"*/
footer{
    background: black;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(250, 248, 244);
    text-align: left;
    padding-top: 2%;
    padding-bottom: 5%;
    padding-left: 10%;
    font-size: 25px;
}
/*fin estilos "footer"*/

/* inicio estilos tabla programa.html */


caption{
    
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    background: black;
    color: white;
}
.container6{
    overflow: hidden;
    padding-bottom: 2%;

}

.programario{
    
    float: left;
    margin-left: 18%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: left;
    
}
.programario th{
    background: #b8d411;
    
}
.programario>tbody>tr:nth-child(even){
    background: #cae9ab;
}

.programario th:first-child{
    width: 100px;
}
.programario th:nth-child(2){
    width: 600px;
}
.programario th:nth-child(3){
    width: 150px;
}
.programario th:nth-child(4){
    width: 100px;
}
.programario th:last-child{
    width: 100px;
}

.sep{
    border-bottom: 2px solid #3e4637;
}

.entradaLibre{
    text-align: center;
    float: right;
    margin-right: 41%;
    font-weight: 400;
}
.insc2{
    color: #7e8087;
    border-bottom: 1px dotted #7e8087;
    text-decoration: none;
    /*Segun la imagen de la práctica, deberia tener doble subrayado, uno solid (el generico de los enlaces) y otro dotted por debajo. He decidido, por tema estético, quitar el subrayado (solid) del link para que solo quede el subrayado "dotted". Aunque si se desea mantener doble, solo habria que quitar el "text-decoration: none"*/
}

/* fin estilos tabla programa.html*/

/*inicio estilos Programación*/
.container7{
    overflow: hidden;
    background: #e5fed4;
    padding-top: 2%;
    padding-bottom: 2%;
}
h5{
    font-size: 30px;
    text-align: left;
    padding-left: 23%;
}
.prog{
    font-weight: 900;
    font-size: 15px;
}

.abril3{
    float: left;
    padding-left: 30%;
    clear: both;
}
.abril4{
    float: right;
    padding-right: 36%;
}
h6>span{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight:bolder;
    background: #bdfc80;
    margin-right: 0%;
    letter-spacing: 0.1px; 
}
.footer2>p{
    font-size: 18px;
    padding-left: 18%;
}
/*fin estilos programa.html*/
/*inicio estilos formulario.html*/
.container9{
    overflow: hidden;
}

label {
    display: block;
    margin: 1px;
    padding: 1px;
}

input:invalid:hover, textarea:invalid:hover{
    background-color: rgb(245, 207, 207);
}
input:valid:hover,select:valid:hover,textarea:valid:hover{
    background-color: rgb(219, 248, 219);
}
input:required, select:required, textarea:required {
    border-color: rgb(245, 162, 8);
    border-width: 2px;
    border-style: dotted;
}
.datospersonales{
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    display: inline;
    padding-left: 20%;
    width: 20%;
    border: lightgreen;
    text-align: justify;
    clear: both;
}

.perfilusuario{
    float: right;
    margin-right: 20%;
    width: 20%;   
    
}
.button{
    border: 2px solid black ;
    border-radius: 15px;
    float: right;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 30%;
    padding-left: 30px;
    padding-right: 30px;
    transition: background .5s;
    clear: both;
}
.terminos{
    overflow: hidden;
    border: 2px solid black ;
    border-radius: 15px;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 40px;
    margin-left: 30%;
}
.term{
    display: inline;
    float: left;
    padding-right: 15px;
}
button:hover{
    background: #cae9ab;
}

.talleres{
    padding: 10px;
}
.asistencia{
    padding: 10px;
}
.datos{
    font-size: 30px;
    font-weight: 900;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}



/*fin estilos formulario.html*/


